<% layout("/layouts/boilerplate") %> 
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
  </div>
</div>
<div class="card col-6 offset-3 show-card">
  <img
    src="<%= (listing && listing.image && listing.image.url) ? listing.image.url : (listing && typeof listing.image === 'string' && listing.image) ? listing.image : 'https://placehold.co/800x600?text=No+Image' %>"
    class="card-img-top show-img"
    alt="listing_image"
    onerror="this.onerror=null;this.src='https://placehold.co/800x600?text=No+Image';"
  />
  <div class="card-body">
    <p class="card-text">
      <%= listing.description %> <br />
      &#8377; <%= listing.price.toLocaleString("en-IN") %> <br />
      <%=  listing.location %> <br />
      <%=  listing.country %>
    </p>
  </div>
</div>

<div class="btns">
  <a
    href="/listings/<%= listing && listing._id %>/edit"
    class="btn btn-dark col-1 offset-3 edit-btn"
    >Edit</a
  >
  <form
    method="POST"
    action="/listings/<%= listing && listing._id %>?_method=DELETE"
  >
    <button class="btn btn-dark offset-5">Delete</button>
  </form>
</div>

<div class="col-8 offset-2">
  <hr>
  <h4>Leave a Review</h4>
  <form>
    <div>
      <label for="rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating] " class="form-control">

    </div>
    <div>
      <label for="comment" class="form-label">Comments</label>
      <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <button btn btn-outline>Submit</button>
  </form>

</div>
</div>