<% layout("/layouts/boilerplate") %> 
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Listing Details</h3>
  </div>
</div>
<div class="card col-6 offset-3 show-card">
  <img
    src="<%= (listing && listing.image && listing.image.url) ? listing.image.url : (listing && typeof listing.image === 'string' && listing.image) ? listing.image : 'https://placehold.co/800x600?text=No+Image' %>"
    class="card-img-top show-img"
    alt="listing_image"
    onerror="this.onerror=null;this.src='https://placehold.co/800x600?text=No+Image';"
  />
  <div class="card-body">
    <p class="card-text">
      <b><%= listing && listing.title ? listing.title : 'Untitled' %></b> <br />
      <%= listing && listing.description ? listing.description : 'No description available.' %> <br />
      &#8377;<%= (listing && listing.price != null) ? listing.price.toLocaleString("en-IN") : 'N/A' %> <br />
      <%= listing && listing.location ? listing.location : 'Unknown location' %> <br />
      <%= listing && listing.country ? listing.country : 'Unknown country' %>
    </p>
  </div>
</div>

<div class="btns">
  <a
    href="/listings/<%= listing && listing._id %>/edit"
    class="btn btn-dark col-1 offset-3 edit-btn"
    >Edit</a
  >
  <form
    method="POST"
    action="/listings/<%= listing && listing._id %>?_method=DELETE"
  >
    <button class="btn btn-dark offset-5">Delete</button>
  </form>
</div>
</div>